Options -MultiViews
RewriteEngine On

# Jika file/folder aslinya ada, buka file aslinya (untuk css/js/gambar)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Selain itu, lempar semua request ke index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]